<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      {{appName}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
	<ion-slides *ngIf="data" (ionSlideDidChange)="slideChanged()">
		<ion-slide *ngFor="let img of data">
			<img src="https://media.giphy.com/media/{{img['id']}}/giphy.gif">
			<ion-fab top right>
			    <button ion-fab color="danger"><ion-icon name="share-alt"></ion-icon></button>
			    <ion-fab-list side="left">
			      <button (click)="saveToAlbum(img['id'])" ion-fab color="dark"><ion-icon name="cloud-download"></ion-icon></button>
			      <button (click)="regularShare(img['id'])" ion-fab color="dark"><ion-icon name="share"></ion-icon></button>
			    </ion-fab-list>
	  		</ion-fab>
		</ion-slide>
	</ion-slides>
</ion-content>
